.titre
{
    border: solid 2px black;
    background-color: #624CAB;
    filter:Alpha(opacity=80);-moz-opacity:0.80;opacity: 0.80;
    text-align: center;
}

body {
    background-image:url('japon.gif');
    background-size:100%;
    background-repeat: repeat-y;
    background-attachment: fixed;

}

.img1 
{
    margin-left: 300px;
    margin-top: 20px;
}

.img2
{
    margin-left: 300px;
    margin-top: 20px;
    width: 350px;
    display: block;
    margin: auto;
    margin-top: 10px;

}

.img3
{
    margin-left: 300px;
    margin-top: 20px;
    width: 550px;
    display: block;
    margin: auto;
    margin-top: 10px;
}

button
{
    border-radius: 20px;
    background-color: #624CAB;
    filter:Alpha(opacity=80);-moz-opacity:0.80;opacity: 0.80;
    width: 150px;
    margin: auto;
    margin-top: 10px;
    display: block;
}

button:hover
{
    cursor: pointer;
    background-color: white;

}