body {
    background-image:url('japon.gif');
    background-size:100%;
    background-repeat: repeat-y;
    background-attachment: fixed;

}

.vide
{
    width: 100px;
    height: 100px;

}


#banner {

      padding: 5px;

      background-color: white;

      font-size: 24px;

      text-align: center;

}

#footer {



      padding: 5px;
      background-color: rgb(213, 219, 225);

      font-size: .7em;

      text-align: center;

}

